<!doctype html>
<html>
<head>    
    <link rel="stylesheet" href="Metro-UI-CSS/min/metro-bootstrap.min.css">
    <link rel="stylesheet" href="Metro-UI-CSS/min/metro-responsive.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="metro">
<div id="container">
    <div id="header"> {{> header}} </div>
    <div id="body">   {{{body}}}   </div>
    <div id="footer"> {{> footer}} </div>
</div>
    <script data-main="js/require-config.js" src="js/bower_components/requirejs/require.js"></script>
</body>
</html>
