<html ng-app="app">
<head>    

    <link rel="stylesheet" href="Metro-UI-CSS/min/metro-bootstrap.min.css">
    <link rel="stylesheet" href="Metro-UI-CSS/min/metro-responsive.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="blockui/jquery.blockUI.js"></script>
    <script src="jquery-ui/ui/minified/widget.min.js"></script>
    <script src="Metro-UI-CSS/min/metro.min.js"></script>

    <link rel="stylesheet" href="DataTables/media/css/jquery.dataTables.min.css">
    <script src="DataTables/media/js/jquery.dataTables.min.js"></script>    
    <script src="angular/angular.min.js"></script>
    <script src="angular-datatables/dist/angular-datatables.min.js"></script>
    <script src="js/app.js"></script>    
</head>
<body class="metro">
<div id="container">
    <div id="header">{{> header}}</div>
    <div id="body">
        {{{body}}}
    </div>
    <div id="footer">{{> footer}}</div>
</div>
</body>
</html>
