<html>
<head>    
	<meta charset="utf-8">
    <link rel="stylesheet" href="js/bower_components/Metro-UI-CSS/min/metro-bootstrap.min.css">
    <link rel="stylesheet" href="js/bower_components/Metro-UI-CSS/min/metro-responsive.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="metro" ng-cloak>
<div id="container">
    <div id="header"></div>
    <div id="body" ng-controller="employee_management">
    	<div ng-view></div>
    </div>

 
</div>
    <script data-main="js/require-config.js" src="js/bower_components/requirejs/require.js"></script>
</body>
</html>