<div ng-controller="employee_management as thisCtrl">
    <div class="lpanel">
            <div class="button-set">
                <button class="button info"><i class="icon-command-add on-right"></i>新增</button>
                <button class="button default"><i class="icon-command-edit on-right"></i>編輯</button>
                <button class="button warning"><i class="icon-command-delete on-right"></i>刪除</button>
            </div>
            <table datatable="" dt-options="thisCtrl.dtOptions" dt-columns="thisCtrl.dtColumns" class="row-border hover"></table>
    </div>
    <div class="rpanel">
        aaajj
    </div>
</div>
